<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>高潜力资源</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="potentialResources" method="get">
      <p>站点（1:bilibili）: <input type="text" name="site" value="1" /></p>
      <p>类型（0:视频）： <input type="text" name="type" value="0" /></p>
      <p>分类（动画、游戏 等）： <select name="category">
                                <option>请选择</option>
                                <option th:each="category:${categorys}" th:value="${category}" th:text="${category}"></option>
                            </select></p>
      <p>最近天数：<input type="text" name="limitDay" value="7" /></p>
      <p>页码：<input type="text" name="page" value="1" /></p>
      <input type="submit" value="提交" />
    </form>
    <table>
        <tr>
            <th>缩略图</th>
            <th>标题</th>
            <th>作者</th>
            <th>点击量</th>
            <th>评论量</th>
            <th>分数</th>
            <th>创建时间</th>
        </tr>
        <tr th:each="resource:${resources}">
            <td><img th:src="${resource.resourceShowUrl}" /></td>
            <td><a th:href="${resource.resourceUrl}" th:text="${resource.title}"></a></td>
            <td><a th:href="${resource.authorUrl}" th:text="${resource.authorName}"></a></td>
            <td th:text="${resource.pv}">${resource.pv}</td>
            <td th:text="${resource.commentNum}"></td>
            <td th:text="${resource.score}"></td>
            <td th:text="${#dates.format(resource.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
    </table>
    <a th:href="${firstPageUrl}">首页</a> <a th:href="${prePageUrl}">上一页</a> <a th:href="${nextPageUrl}">下一页</a><br/><br/>
    <a href="/potentialResources">高潜力资源</a>
    <a href="/authorScore">高人气作者</a>
    <a href="/viewerScore">独具眼光观看者</a>
</body>
</html>